<html>
  <body>
    <h2>Workout Companion Password Reset</h2>
    <p>Hello <strong>{{name}}</strong>,</p>
    <p>You've requested to reset the password to your account.</p>
    <p>Please, click the link below to reset your password.</p>
    <a href={{link}}>Reset Password</a>
  </body>
</html>
